body {
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container {}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 7px 0px rgba(78, 89, 255, 0.43);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(78, 89, 255, 0.43);
    -moz-box-shadow: 0px 3px 7px 0px rgba(78, 89, 255, 0.43);
}

.navbar-left img {
    width: 50px;
}

.navbar-right div {
    text-transform: uppercase;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right>* {
    padding-inline: 40px;
    color: #0062E6;

}

.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 10px;
    grid-template-areas: "box w";
    margin-top: 20px;
    margin-bottom: 40px;
}

.box {
    grid-area: "box";
    margin-top: 150px;
    margin-left: 20px;
}

.imgpromo {
    margin-left: 80px;
}

.titulo1 {
    grid-area: "t";
    font-size: 2rem;
}

.wd-1 {
    grid-area: "w";
    margin-top: 20px;
}


.paragrafo1 {
    color: #7a7a7a;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    grid-area: "p";
}

.section-1 img {
    border-radius: 50%;

}

.footer {
    padding: 20px;
    box-shadow: 0px 3px 7px 0px rgba(78, 89, 255, 0.43);
    -webkit-box-shadow: 0px -3px 7px 0px rgba(78, 89, 255, 0.43);
    -moz-box-shadow: 0px 3px 7px 0px rgba(78, 89, 255, 0.43);
    color: #292727;
}



a {
    text-decoration: none;
}

a:visited {
    color: #0062E6;
}

a:hover {
    color: #61a6ff;
}